<!-- LaTeX fonts -->
<link rel="stylesheet" type="text/css" href="/assets/css/fonts.css">

<!-- TikZ support -->
<script src="/assets/js/tikzjax.js"></script>

<!-- Favicons on various platforms -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- SEO -->
<meta name="google-site-verification" content="xwav3uYQaQ3bEIPYCZptp2OoIyVlA3Ca8JPpU9coSqA" />